---
import "../styles/style.css"
import Card from "../components/Card.astro"
import Navigation from "../components/Navigation.astro"
import Card_2 from "../components/Card_2.astro"
import Button from "../components/Button.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation/>
		<h1>Astro</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam rerum similique aliquid aspernatur recusandae laborum labore, exercitationem perferendis eum saepe atque, consectetur quae voluptates dolore voluptatem! Illo dolorem harum rem.
			</p>
		<main>
			<Button variant="primary" size="small">TEXT</Button>
			<Button variant="secondary" size="medium">TEXT</Button>
			<Button variant="secondary" size="large">TEXT</Button>
			<!-- <Card header="Hej verden" />	
			
			<img src="/public/pic.jpg" alt="pic">
			<button>Klik me</button>
			</Card>	

			<Card header="Hej verden" />		
			<button>Klik me</button>
			<img src="/public/pic_to.jpg" alt="pic">
			</Card>	

			<Card_2 header="Test hej" text="test Lorem isum"/>
			<img src="/public/pic_tre.jpg" alt="tre">
			<button>Klik test</button>
			</Card_2>
			<Card_2 header="Test hej hej" text="test Lorem isum"/>
			<img src="/public/pic_to.jpg" alt="tre">
			<button>Klik test 2</button>
			</Card_2> -->

		</main>
	</body>
</html>
